$v-app-loading-text: "Loading Acuity";
$v-background-color: #444d50;
$v-focus-color: #07a9ca;
$v-focus-style: 0 0 3px 2px $v-focus-color;
$v-font-family: Roboto, sans-serif;
$v-font-weight: 400;
$v-font-weight--header: 400;
$v-unit-size: 40px;
$v-component-group-spacing: 6px;

@import "../valo/valo";